.git
**/.git

bin/
dist/
.idea/
.vscode/
.cursor/
*.log
*.tmp
*.swp
.DS_Store

config.yaml

internal/webui/static/*
!internal/webui/static/.gitkeep

**/node_modules
frontend/dist
frontend/dist-ssr
frontend/logs
**/*.local
